.login-outer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #F0EDEE;
}

.login-upper {
    font-family: 'Metal Mania', cursive;
    height: 40vh;
    width: 100vw;
    background-color: #F0EDEE;
    display: flex;
    color: #8C88A0;
    text-shadow: 1px 1px #333333;
    font-size: 1.5rem;
    justify-content: center;
}

.login-inputs {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.login-text {
    margin: 10px 0 0 0;
}

.log-me-in {
    height: 40px;
    width: 70px;
    border: none;
    background-color: #3DE1FF;
    margin: 10px 0 0 0;
    font-family: 'Metamorphous', cursive;
    color: #333333;
    border-radius: 5px;
}

.login-lower {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.login-character-sheet-display {
    height: 93%;
    width: 70%;
    position: relative;
    bottom: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-character-sheet-image {
    height: 90%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
    border: 2px solid #333333
}

.login-character-sheet-selection {
    height: 10%;
    width: 90%;
    border: 2px solid #333333;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-position {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #8C88A0
}

.login-clickhere {
    text-decoration: underline;
    position: relative;
    left: 20px;
}

.login-clickhere:hover {
    color: #3DE1FF;
}